{% extends 'website/base.html' %}
{% load static %}
  {% block content %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg-2.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5">
            <h2 class="mb-0 bread">Services</h2>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Services <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
    
       

    <section class="ftco-section ftco-pricing">
			<div class="container">
				<div class="row justify-content-center pb-3">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<h1 class="big">Pricing</h1>
          	<span class="subheading">Pricing</span>
            <h2 class="mb-4">Our Service Prices</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
            <table class="table table-bordered"> <thead> <tr> <th>#</th> <th>Service Name</th> <th>Service Price</th> </tr> </thead> <tbody>
              {% for service in services %}		
              <tr> <th scope="row">	</th>  <td>{{ service.ServiceName }} 	</td> <td>{{ service.Cost }}</td>
             
            {% endfor %}  
            </tbody> </table> 
			</div>
		</section>
    <br>
    {% endblock %}