{% extends 'adminsection/base.html' %}
{% load static %}
{% block content %}

<!-- main content start-->
<div id="page-wrapper">
	<div class="main-page">
		<div class="forms">
			<h3 class="title1">Add Services</h3>
			<div class="form-grids row widget-shadow" data-example-id="basic-forms">
				<div class="form-title">
					<h4>Parlour Services:</h4>
				</div>
				<div class="form-body">
					{% include 'adminsection/includes/form.html' with form=form %}
				</div>

			</div>


		</div>
	</div>

	{% endblock %}