{% extends 'adminsection/base.html' %}
{% load static %}
{% block content %}

<!-- main content start-->
<div id="page-wrapper" class="row calender widget-shadow">
	<div class="main-page">


		<div class="row calender widget-shadow">
			<div class="row-one">
				<div class="col-md-4 widget">
					<div class="stats-left ">
						<h5>Total</h5>
						<h4>Customer</h4>
					</div>
					<div class="stats-right">
						<label> {{ total_customer }}</label>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 widget states-mdl">

					<div class="stats-left">
						<h5>Total</h5>
						<h4>Appointment</h4>
					</div>
					<div class="stats-right">
						<label>{{ total_appoinment }}</label>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 widget states-last">

					<div class="stats-left">
						<h5>Total</h5>
						<h4>Accepted Apt</h4>
					</div>
					<div class="stats-right">
						<label>{{ total_accepted_appoinment }}</label>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="row calender widget-shadow">
			<div class="row-one">
				<div class="col-md-4 widget">
					
					<div class="stats-left ">
						<h5>Total</h5>
						<h4>Rejected Apt</h4>
					</div>
					<div class="stats-right">
						<label> {{ total_Rejected_appoinment }}</label>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 widget states-mdl">

					<div class="stats-left">
						<h5>Total</h5>
						<h4>Services</h4>
					</div>
					<div class="stats-right">
						<label> {{ total_service }}</label>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 widget states-last">

					<div class="stats-left">
						<h5>Today</h5>
						<h4>Sales</h4>
					</div>
					<div class="stats-right">
						<label> {{ today_sales.Catagories__Cost__sum }}</label>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="row calender widget-shadow">
			<div class="row-one">
				<div class="col-md-4 widget">

					<div class="stats-left ">
						<h5>Yesterday</h5>
						<h4>Sales</h4>
					</div>
					<div class="stats-right">
						<label> {{ yesterday_sales.Catagories__Cost__sum }}</label>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 widget states-mdl">

					<div class="stats-left">
						<h5>Last Sevendays</h5>
						<h4>Sale</h4>
					</div>
					<div class="stats-right">
						<label> {{ last_seven_days_sales.Catagories__Cost__sum }}</label>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 widget states-last">

					<div class="stats-left">
						<h5>Total</h5>
						<h4>Sales</h4>
					</div>
					<div class="stats-right">
						<label>{{ total_sales.Catagories__Cost__sum }}</label>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<div class="clearfix"> </div>
</div>
</div>


{% endblock %}