{% extends 'adminsection/base.html' %}
{% load static %}
{% block content %}
<!-- //header-ends -->
<!-- main content start-->
<div id="page-wrapper">
	<div class="main-page login-page ">
		<h3 class="title1">Reset Page</h3>
		<div class="widget-shadow">
			<div class="login-top">
				<h4>Welcome back to BPMS AdminPanel ! </h4>
			</div>
			<div class="login-body">
				<form role="form" method="post" action="" name="changepassword" onsubmit="return checkpass();">
					<p style="font-size:16px; color:red" align="center"></p>
					<input type="password" name="newpassword" class="lock" placeholder="New Password" required="true">

					<input type="password" name="confirmpassword" class="lock" placeholder="Confirm Password"
						required="true">

					<input type="submit" name="submit" value="Reset">
					<div class="forgot-grid">

						<div class="forgot">
							<a href="">Already have an account</a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</form>
			</div>
		</div>


	</div>
</div>

</div>
{% endblock %}