
{% load static %} 

	<!-- Classie -->
    <script src="{% static 'adminsection/js/classie.js' %}"></script>
    <script>
        var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
            showLeftPush = document.getElementById( 'showLeftPush' ),
            body = document.body;
            
        showLeftPush.onclick = function() {
            classie.toggle( this, 'active' );
            classie.toggle( body, 'cbp-spmenu-push-toright' );
            classie.toggle( menuLeft, 'cbp-spmenu-open' );
            disableOther( 'showLeftPush' );
        };
        
        function disableOther( button ) {
            if( button !== 'showLeftPush' ) {
                classie.toggle( showLeftPush, 'disabled' );
            }
        }

    $('.form-control1').datepicker({
	 'format': 'yyyy-m-d',
	 'autoclose': true
   });

    </script>
<!--scrolling js-->
<script src="{% static 'adminsection/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'adminsection/js/scripts.js' %}"></script>


<!--//scrolling js-->
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'adminsection/js/bootstrap.js' %}"> </script>

<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
