<div class="sticky-header header-section ">
      <div class="header-left">
        <!--toggle button start-->
        <button id="showLeftPush"><i class="fa fa-bars"></i></button>
        <!--toggle button end-->
        <!--logo -->
        <div class="logo">
          <a href="{% url 'dashboard' %}">
            <h1>MS</h1>
            <span>AdminPanel</span>
          </a>
        </div>
        <!--//logo-->
       
       
        <div class="clearfix"> </div>
      </div>
      <div class="header-right">
        <div class="profile_details_left"><!--notifications of menu start -->
          <ul class="nofitications-dropdown">

            <li class="dropdown head-dpdn">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue"><?php echo $num;?></span></a>
              
              <ul class="dropdown-menu">
                <li>
                  <div class="notification_header">
                    <h3>You have  new notification</h3>
                  </div>
                </li>
                <li>
            
                   <div class="notification_desc">

                 <a class="dropdown-item" href="">New appointment received from <?php echo $result['Name'];?> </a><br />

                <a class="dropdown-item" href="">No New Appointment Received</a>
      
                  </div>
                  <div class="clearfix"></div>  
                 </a></li>
                 
                
                 <li>
                  <div class="notification_bottom">
                    <a href="">See all notifications</a>
                  </div> 
                </li>
              </ul>
            </li> 
          
          </ul>
          <div class="clearfix"> </div>
        </div>
        <!--notification menu end -->
        <div class="profile_details">  
          <ul>
            <li class="dropdown profile_details_drop">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                {% if request.user.is_authenticated %}
                <div class="profile_img"> 
                  <div class="user-name">
                    <p>{{ user.username }}</p>
                    {% if request.user.is_superuser %}
                    
                      <span>Administrator </span>
                    {% else %}

                    `<span>Staff</span>
                    {% endif %}  
                  </div>
                  <i class="fa fa-angle-down lnr"></i>
                  <i class="fa fa-angle-up lnr"></i>
                  <div class="clearfix"></div>  
                </div>  
                {% endif %}
              </a>
              <ul class="dropdown-menu drp-mnu">
                <li> <a href="{% url 'changepassword' %}"><i class="fa fa-cog"></i> Settings</a> </li> 
                <li> <a href="{% url 'adminprofile' %}"><i class="fa fa-user"></i> Profile</a> </li> 
                <li> <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a> </li>
              </ul>
            </li>
          </ul>
        </div>  
        <div class="clearfix"> </div> 
      </div>
      <div class="clearfix"> </div> 
    </div>